Source: haskell-logic-classes
Priority: optional
Section: misc
Maintainer: David Fox <dsf@seereason.com>
Build-Depends: debhelper (>= 7.0),
               haskell-devscripts (>= 0.6.15+nmu7),
               hscolour,
               cdbs,
               ghc (>= 6.8),
               ghc-prof,
               libghc-hunit-prof,
               libghc-fgl-prof,
               libghc-happstack-data-prof,
               libghc-incremental-sat-solver-prof,
               libghc-proplogic-prof,
               libghc-mtl-prof,
               libghc-safecopy-prof,
               libghc-set-extra-prof,
               libghc-syb-with-class-prof,
               libghc-text-prof
Build-Depends-Indep: ghc-doc,
                     haddock,
                     libghc-hunit-doc,
                     libghc-fgl-doc,
                     libghc-happstack-data-doc,
                     libghc-incremental-sat-solver-doc,
                     haskell-proplogic-doc,
                     libghc-mtl-doc,
                     libghc-safecopy-doc,
                     libghc-set-extra-doc,
                     libghc-syb-with-class-doc,
                     libghc-text-doc
Standards-Version: 3.8.1

Package: libghc-logic-classes-dev
Architecture: any
Section: haskell
Depends: ${haskell:Depends},
         ${misc:Depends}
Conflicts: libghc-logic-dev
Provides: libghc-logic-dev
Replaces: libghc-logic-dev
Description: Library for unifying various treatments of propositional and first order logic
 Library for unifying various treatments of propositional and first order logic
 .
  Author: David Fox <dsf@seereason.com>
  Upstream-Maintainer: SeeReason Partners <partners@seereason.com>
 .
 This package contains the normal library files.

Package: libghc-logic-classes-prof
Architecture: any
Section: haskell
Depends: ${haskell:Depends},
         ${misc:Depends},
         libghc-logic-dev
Conflicts: libghc-logic-prof
Provides: libghc-logic-prof
Replaces: libghc-logic-prof
Description: Library for unifying various treatments of propositional and first order logic
 Library for unifying various treatments of propositional and first order logic
 .
  Author: David Fox <dsf@seereason.com>
  Upstream-Maintainer: SeeReason Partners <partners@seereason.com>
 .
 This package contains the libraries compiled with profiling enabled.

Package: libghc-logic-classes-doc
Architecture: all
Section: doc
Depends: ${haskell:Depends},
         ${misc:Depends},
         ghc-doc
Conflicts: libghc-logic-doc
Provides: libghc-logic-doc
Replaces: libghc-logic-doc
Description: Library for unifying various treatments of propositional and first order logic
 Library for unifying various treatments of first order logic
 .
  Author: David Fox <dsf@seereason.com>
  Upstream-Maintainer: SeeReason Partners <partners@seereason.com>
 .
 This package contains the documentation files.
