#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/hlibrary.mk

# How to install an extra file into the documentation package
#binary-fixup/libghc6-Logic-doc::
#	echo "Some informative text" > debian/libghc6-Logic-doc/usr/share/doc/libghc6-Logic-doc/AnExtraDocFile
